<footer class="page__footer">
  <div class="page__footer-follow">
    <strong>FOLLOW:</strong>
    <a href="https://www.linkedin.com/in/chiaracalascibetta/" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    &nbsp; &nbsp;
    <a href="https://bsky.app/profile/did:plc:jencif6pfeukjn4savqzag5q" target="_blank" rel="noopener noreferrer">
      <i class="fas fa-cloud"></i> Bluesky
    </a>
  </div>

  <div class="page__footer-copyright">
    &copy; 2025 Chiara Calascibetta.
  </div>
</footer>
